/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* common styles or utilites*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;;
    margin: 0;
}

/*--------------------------------------------------
             Top container is styled 
---------------------------------------------------*/
.home-container {
    background: #2D25A0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 577px;
    margin: 0;
}
.home-info {
    margin-left: 5%;
    width: 480px;
}
.home-info .page-header{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}
.home-info .watch-button {
    width: 123px;
    height: 25px;
    color: #FFFFFF;
    margin: 0px 0px;
    padding: 10px 25px;
    text-decoration: none;
    background: #E02C6D;
}
.home-info .watch-button span {
    margin-right: 10px;
}
.home-info .watch-button a {
    text-decoration: none;
}
.home-info .watch-button a:visited {
    color: #FFFFFF;
}
.top-banner img {
    width: 500px;
    height: 400px;
    margin-left: 30px;
    margin-right: 80px;
}

/*--------------------------------
    Players' layout is styled 
---------------------------------*/
.player-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 70px;
      /* position: absolute;
      left: 165px; */
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 300px;
    height: 500px;
}
.player .player-photo img {
    width: 250px;
    height: 186px;
}
.player .player-details {
    width: 250px;
}
.player .player-details .player-name {
    font-weight: bold;
    font-size: 24px;
}
.player .player-details .player-info{
    color: #6C6C6C;
    margin: 10px 0px;
    text-align: justify;
}

/*---------------------------------------
    highlight container layout styled 
-----------------------------------------*/
.highlight-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.highlight-details {
    width: 466px;
    height: 329px;
    align-items: center;
    padding-right: 5%;
}
.highlight-details .highlight-title {
    font-size: 44px;
}
.highlight-details .highlight-info {
    color: #6C6C6C;
}
.highlight-details .highlight-button {
    width: 123px;
    height: 25px;
    color: #FFFFFF;
    margin: 24px 0px;
    padding: 10px 25px;
    background: #E02C6D;
}
.highlight-button span {
    margin-right: 10px;
}
.highlight-button a {
    text-decoration: none;
}
.highlight-button a:visited {
    color: #FFFFFF;
}

.highlight-thumbnail img {
    width: 567px;
    height: 407px;
    padding-left: 5%;
}
/*-------------------------
    Footer is designed 
--------------------------*/
.footer-ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.logo-football img {
    width: 483.87px;
    height: 110px;s    
}
.social-icon {
    color: gray;
    margin: 0 14px;
}
/*----------------------------------------------------
     Mobile Responsiveness created with Media query 
------------------------------------------------------*/
@media only screen and (max-width: 688px) {
    /* Top page is responsive now  */
    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 695px;
    }  
    .home-info {
        margin: 0px 0px;
        width: 90%;
    }
    .home-info .page-header{
        font-size: 24px;
        margin: 0px 46px 30px 10px;
        padding: 0;
        
    } 
    .top-banner img {
        width: 329px;
        height: 259.17px;
        margin: 50px 15px;
    }

    /* player section is responsive with 1 column  */
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }
    
    /* Highlight is being responsive */
    .highlight-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 0px;
    }
    .highlight-details {
        width: 300px;
        height: 299px;
        margin: 35px 0;
        margin-left: 30px;
        text-align: justify;
    }
    .highlight-details .highlight-title {
        font-size: 30px;
    }
    .highlight-thumbnail {
        justify-content: center;
        margin-bottom: 43px;
        margin-right: 15px;
    }
    .highlight-thumbnail img {
        width: 308px;
        height: 218px;
        
    }

    /* Mobile footer responsiveness */
    .footer-ball {
        width: 100%;
    }
    .logo-football img {
        width: 240px;
        height: 68px;  
    }
    
}